<%= form_with(model: chat, class: "contents") do |form| %>
  <% if chat.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
        <% chat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.radio_button :question, "Tell me how to dress based on the weather data provided: " %>
    <%= form.label :question, "Question: Tell me how to dress in this weather" %>
  </div>
  <div class="my-5">
    <%= form.radio_button :question, "Convert this weather data into a haiku: " %>
    <%= form.label :question, "How would this weather sound in an haiku?" %>
  </div>

    <%= form.hidden_field :weather_id %>


  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
