<div id="<%= dom_id weather %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= weather.location %>
  </p>

  <div class="my-5">
    <strong class="block font-medium mb-1">Data:</strong>
    <%# weather.data %>
    <% @data = JSON.parse(weather.data) %>
    <% if @data.empty? %>
      <p>there was an error requesting your data</p>
      <% else %>
      <li><%= @data['name'] %>, <%= @data['sys']['country'] %></li>
      <li>Weather: <%= @data['weather'][0]['main'] %></li>
      <li>Description: <%= @data['weather'][0]['description'] %></li>
      <li>Temperature: <%= @data['main']['temp'] %></li>
      <li>Feels Like: <%= @data['main']['feels_like']%></li>
      <li>Minimum Temperature: <%= @data['main']['temp_min'] %></li>
      <li>Minimum Temperature: <%= @data['main']['temp_max'] %></li>
      <li>Minimum Temperature: <%= @data['main']['pressure'] %></li>
      <li>Minimum Temperature: <%= @data['main']['humidity'] %></li>
      <% end %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this weather", weather, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this weather', edit_weather_path(weather), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
